.MoviesList{
  background-color: #010b1ce6;
  min-height: 100vh;
  overflow-x: hidden;
}

.MoviesList nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.MoviesList nav input[type='text']{
  position: relative;
  height: 40px;
  width: 315px;
  padding: 15px;
  padding-right: 45px;
  font-size: 12px;
  box-sizing: border-box;
  background-color: #43498965;
  background-image: url(./assets/images/searchicon.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  color: #586E94;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  outline: none;
}

.MoviesList .filters{
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.MoviesList .filters > div{
  display: flex;
  align-items: center;
}

.MoviesList .filters > div > span {
  color: #586E94;
  font-size: 12px;
}

.MoviesList .filters > div:nth-child(2) > span{
  margin-left: 50px;
}

.MoviesList .alphaBlock.Dropdown-root,
.MoviesList .genresBlock.Dropdown-root{
  display: inline-block;
  margin-left:5px;
  width: 193px;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.MoviesList .genresBlock.Dropdown-root{
  width: 120px;
}

.MoviesList .alphaBlock.Dropdown-root .Dropdown-control,
.MoviesList .genresBlock.Dropdown-root .Dropdown-control{
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #586E94;
  border-radius: 5px;
}
.MoviesList .alphaBlock.Dropdown-root.is-open .Dropdown-control,
.MoviesList .genresBlock.Dropdown-root.is-open .Dropdown-control{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.MoviesList .alphaBlock.Dropdown-root .Dropdown-control > *,
.MoviesList .genresBlock.Dropdown-root .Dropdown-control > *{
  color: #586E94;
}

.MoviesList .alphaBlock.Dropdown-root .Dropdown-menu,
.MoviesList .genresBlock.Dropdown-root .Dropdown-menu{
  border: none;
  background: none;
}

.MoviesList .alphaBlock.Dropdown-root .Dropdown-menu .Dropdown-option,
.MoviesList .alphaBlock.Dropdown-root .Dropdown-menu .Dropdown-option:hover,
.MoviesList .genresBlock.Dropdown-root .Dropdown-menu .Dropdown-option,
.MoviesList .genresBlock.Dropdown-root .Dropdown-menu .Dropdown-option:hover{
  color: #586E94;
  background-color: #24314a;
  border: solid 1px #586E94;
}

.MoviesList .alphaBlock.Dropdown-root .Dropdown-menu .Dropdown-option:last-child,
.MoviesList .genresBlock.Dropdown-root .Dropdown-menu .Dropdown-option:last-child{
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.MoviesList .year-picker{
  margin-left: 10px;
  width: 120px;
  border-radius: 5px;
  border: solid 1px #586E94;
  height: 30px;
  background: transparent;
}

.MoviesList .year-picker .year-input{
  cursor: pointer;
  font-size: 12px;
  background: transparent;
  color: #586E94;
}

.MoviesList .year-picker .picker-panel{
  background-color: #253755;
  border: solid 1px#586E94;
  border-radius: 5px;
}

.MoviesList .year-picker .picker-panel *{
  cursor: pointer;
  color: #586E94; 
}

.MoviesList .year-picker .picker-panel .selected-year{
  background: none;
  border: solid 1px#586E94;
}

.MoviesList .year-picker .picker-panel .body{
  border-top: solid 1px#586E94;
}

.MoviesList .year-picker .picker-panel .footer{
  border-top: solid 1px#586E94;
}

.moviesPage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.moviesPage .w_movie{
  flex-basis: 20%;
  width: 20%;
  margin-bottom: 60px;
}

.MoviesList .pagination{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.MoviesList .pagination .pagination-btn{
  margin: 0 7.5px;
  cursor: pointer;
}

.MoviesList .pagination .break{
  display: none;
}

.MoviesList .pagination .pagination-btn.selected a,
.MoviesList .pagination .pagination-btn:hover a{
  background-color:#586E94;
  color: #0d1d38;
}
.MoviesList .pagination .pagination-btn a{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #586E94;
  border-radius: 15px;
  color: #586E94;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  outline: none;
}

.MoviesList .pagination .pagination-btn.nextPage a{
  background-image: url(./assets/images/paginationnextarrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.MoviesList .pagination .pagination-btn.prevPage a{
  background-image: url(./assets/images/paginationpreviousarrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1200px){
  .moviesPage .w_movie{
    flex-basis: 25%;
    width: 25%;
  }

  .w_pagination{
    padding: 0;
    width: 450px;
  }

  .MoviesList .pagination .pagination-btn{
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px){
  .MoviesList nav input[type='text']{
    width: 100%;
    margin-top: 20px;
  }

  .MoviesList .filters{
    margin-top: 25px;
  }

  .MoviesList .filters > div{
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .MoviesList .filters > div > span{
    margin: 0!important;
  }

  .moviesPage{
    justify-content: center;
  }

  .moviesPage .w_movie{
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 568px){
  .MoviesList nav > div{
    padding-bottom: 0;
  }

  .moviesPage .w_movie{
    box-sizing: border-box;
    padding: 0 5px;
    flex-basis: 50%;
    width: 50%;
  }
}
